.lucha {
  background-image: url(/images/campobatalla.jpg);
  flex-direction: column;
}
.barras {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.vidaP1,
.vidaP2 {
  width: 25%;
  border: 3px solid black;
}
.relleno1 {
  width: 100%;
  background-color: red;
  color: rgba(255, 0, 0, 0);
}
.relleno2 {
  width: 100%;
  background-color: red;
  color: rgba(255, 0, 0, 0);
}
.teclas {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 6vh;
}
.tP1,
.tP2 {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
}
.comenzar {
  width: 20vh;
  height: 15vh;
  background-image: url(/images/fight.jpg);
  background-size: cover;
  background-position-y: 45%;
}
.ganador {
  width: 50vh;
  height: 37.5vh;
  background-size: cover;
}
.atA1,
.atA2 {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 2vh;
  background-color: rgba(128, 128, 128, 0.884);
  border: 1px solid black;
  border-radius: 20%;
}
.atCargados {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5px;
}
.atB1,
.atC1,
.atB2,
.atC2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.884);
  width: 45%;
  height: 3vh;
  border: 1px solid black;
  border-radius: 20%;
  font-size: large;
}
.combate {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 45vh;
}
.luchador1,
.luchador2 {
  height: 26vh;
  width: 20vh;
  background-color: rgba(255, 255, 0, 0);
}
.luchador1 {
  background-size: cover;
  margin-right: 2vh;
}
.luchador2 {
  background-image: url(/images/KIRBYSVG.png);
  background-size: cover;
  margin-left: 2vh;
}
