body {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
}
.contenedor,
.pantalla1,
.personajes,
.lucha {
  min-height: 100vh;
  background-size: cover;
  border: 0;
  margin: 0;
}
.pantalla1 {
  background-image: url(/images/pantalla1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.botEmpezar {
  pointer-events: none;
  height: 3em;
  width: 15em;
  background-color: rgba(76, 213, 218, 0.356);
  font-size: x-large;
  font-family: fantasy;
  color: black;
  border-color: white;
  border-end-end-radius: 40%;
  border-end-start-radius: 40%;
}
.botCont {
  height: 4em;
}
.personajes {
  background-image: url(/images/personajes.jpg);
  display: flex;
  flex-direction: column;
  display: none;
}
.cabecera {
  height: 7.5em;
}
.opciones {
  height: 34em;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 9.5em;
}
.seleccion {
  height: 21.5em;
  background-color: rgba(0, 7, 6, 0.993);
  display: flex;
}
.opcion1,
.opcion2,
.opcion3,
.opcion4 {
  width: 50%;
  background-size: 43vmax;
  background-repeat: no-repeat;
}
.opcion1 {
  background-image: url(/images/mario.jpg);
  background-position: center;
}
.opcion2 {
  background-image: url(/images/kirby.jpg);
  background-position-y: 20%;
}
.opcion3 {
  background-image: url(/images/pikachu.jpg);
  background-position: center;
}
.opcion4 {
  background-image: url(/images/donkeykong.jpg);
  background-position: center;
}
.elegido1,
.elegido2 {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lucha {
  background-image: url(/images/campobatalla.jpg);
  display: flex;
  flex-direction: column;
}
.barras {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.vidaP1,
.vidaP2 {
  width: 25%;
  border: 3px solid black;
}
.relleno1 {
  width: 100%;
  background-color: red;
  color: rgba(255, 0, 0, 0);
}
.relleno2 {
  width: 100%;
  background-color: red;
  color: rgba(255, 0, 0, 0);
}
.teclas {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 6vh;
}
.tP1,
.tP2 {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
}
.atA1,
.atA2 {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 2vh;
  background-color: rgba(128, 128, 128, 0.884);
  border: 1px solid black;
  border-radius: 20%;
}
.atCargados {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5px;
}
.atB1,
.atC1,
.atB2,
.atC2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.884);
  min-width: 33%;
  max-width: 38%;
  height: 3vh;
  border: 1px solid black;
  border-radius: 20%;
  font-size: large;
}
.combate {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 45vh;
}
.luchador1,
.luchador2 {
  height: 26vh;
  width: 20vh;
  background-color: rgba(255, 255, 0, 0);
}
.luchador1 {
  background-image: url(/images/DONKEYSVG.png);
  background-size: cover;
  margin-right: 2vh;
}
.luchador2 {
  background-image: url(/images/KIRBYSVG.png);
  background-size: cover;
  margin-left: 2vh;
}
p {
  border: 0;
  margin: 0;
}
